body {
  font-family: 'Roboto', sans-serif;
  background-color:  #ffffff;
  color: #333; /* 黒系のテキストカラー */
  line-height: 1.6;
  background-image: url('mypage.jpg'); 
  background-size: cover;
}

.container {
  background-color: rgba(255, 255, 255, 0.4); /* 白を基調とした背景色 */
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* ソフトなシャドウ */
  transition: transform 0.2s; 
}

.container:hover {
  transform: scale(1.03); 
}

h1, h2, h3 {
  font-weight: bold;
  color: #333; /* 黒系のテキストカラー */
}

.btn {
  background-color: #666; /* 深めのグレー */
  color: #fff;
  border-radius: 20px;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #444; /* ホバー時のさらに深いグレー */
}

.user-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.user-contents {
  display: flex;
  align-items: center;
}

.user-flex-container {
  display: flex;
  align-items: center; /* 子要素が縦方向に中央揃え */
  justify-content: space-between; /* ニックネームとフォローボタンの間にスペースを最大限取る */
}


